<html>
<h2>Members of Team Judas - I Greet You !!!</h2>
<p>
Your Server-Master (err... aspring novice) Matt brings you stuff...<br>
 Home page, just serves you this text. Intended only as a team aid to exprimenting.<br>
 As more functionality is added, I will add brief notes here.<br><br>
 So far, these URI's exist:<br>
 All based on the prefix... judas.herokuapp.com <br>
</p><p>
<br>

 /register .. a post request with a FB token. Optionaly also an email address and a details json that can hold whatever you want, for example the users name.<br>
Send the register uri post as soon as the user first registers. If the user is already in the system, you will get a 400 error to ignore.<br>
A sample json object: {"authResponse" : {"accessToken": "startTokenABC", "expiresIn": "00:09:00", "signedRequest": "signedByMatt", "userID": "123456"}, "email" : "Homer@test.com", "details" : {"first" : "Homer", "second" : "Simpson"}}<br>
Ignore the email & details if you want. I have populated tests user with details to show intent.<br><br>
 /fbtoken_in ... a post request with a body containg a Facebook authResponse token<br>
If the user does not already exist, you will get a 400 error.
</p><p>

In the userdb already is userID "Matt", "Stephen", "Bob" & "1384121193", testing against these will return a json authResponse object. 1384121193 is hopefully Stephen's id...<br>
</p><p>

 /pestspotted ... a post request that expects contents to be in a json format. For example;<br>
      {"packet": {"position": {"longitude": "22", "latitude": "44", "accuracy": "0.5", "datestamp": "15 May"}, "pest" : "rabbit", "auth": {"uid": "Matt"}}}
</p><p>
## depreciated, now assumed to be test uri's only
 /pestspotted_all    ... returns a list of all pests spotted<br>
 /pestspotted_all/json ... returns a json object of all pests spotted
</p><p>
## depreciated, now assumed to be test uri's only
 /pestspotted_on/:date ... where :date == DD-MM-YYYY, returns a list of pests spotted on that day<br>
 /pestspotted_on/:date/json ... returns a json object, doing the same
</p><p>

 /pestspotted/:userid ... where :userid is the registered user, returns a count of pests reported by user
</p>

<b>Dummy data in pestspotted db</b>
<p>
&nbsp; id | longitude | latitude | accuracy | datestamp  |  pest  | uid  <br>
---+----------+--------+--------+----------+------+-----<br>
&nbsp; 1 | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       22 | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      33 | &nbsp;&nbsp;&nbsp;&nbsp;     0.4 | 2014-05-03 | possum | Matt<br>
&nbsp; 2 | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       22 | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      33 | &nbsp;&nbsp;&nbsp;&nbsp;     0.4 | 2014-05-04 | stoat &nbsp; | Matt<br>
&nbsp; 3 | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       22 | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      33 | &nbsp;&nbsp;&nbsp;&nbsp;     0.4 | 2014-05-05 | rabbit | Matt<br>
(3 rows)
</p><p>
Feel free to test against these. Other data will accumulate as it is added.<br>
This in a url, will generate a list of pests so far.<br>
http://judas.herokuapp.com/pestspotted/all
</p>
<p>
Postgresql data types are;<br>
longitude ... real<br>
latitude ... real<br>
accuracy ... real<br>
datestamp ... date<br>
pest ...... varchar<br>
uid ....... varchar<br>
</p>
<!--<p>
 <b>GET</b><br>
 /test     ...returns a string \"Server responds to \"test\".<br>
 /test/test ...returns a basic html files<br>
 /test/[page, testpage, testpage.html] ...returns another html file.<br><br>

 /matt     ...alternate test, will return a string starting with \"Matt\" and saying something random.<br>
 /error/xxx   ... where xxx is your http error code to be tested. Returns text \"Error : xxx\" with a header file that contains the same error. Don't rely on my text, use the header file.<br>
</p><p>
 /pests/[possum, stoat]    ...returns the name, a little text and its colour, from dummy data.<br>
 /pests/[possum, stoat]/found    ...returns text from dummy data on where to look for the pest.<br>
</p>
<p>
  /db/visits/i    ... implemented the lab exercise. This records your request and returns a count of requests today.<br>
  /db/visits      ... returns SELECT * FROM visits;
</p>-->

</html>
