<html>
<br><h2>Members of Team Judas - I Greet You !!!</h2>
<p>
Your Server-Master (err... aspring novice) Matt brings you stuff...<br>
 Home page, just serves you this text. Intended only as a team aid to exprimenting.<br>
 As more functionality is added, I will add brief notes here.<br><br>
 So far, these URI's exist:<br>
 All based on the prefix... judas.herokuapp.com <br>
</p><p>
 <b>GET</b><br>
 /test     ...returns a string \"Server responds to \"test\".<br>
 /test/test ...returns a basic html files<br>
 /test/[page, testpage, testpage.html] ...returns another html file.<br><br>

 /matt     ...alternate test, will return a string starting with \"Matt\" and saying something random.<br>
 /error/xxx   ... where xxx is your http error code to be tested. Returns text \"Error : xxx\" with a header file that contains the same error. Don't rely on my text, use the header file.<br>
</p><p>
 /pests/[possum, stoat]    ...returns the name, a little text and its colour, from dummy data.<br>
 /pests/[possum, stoat]/found    ...returns text from dummy data on where to look for the pest.<br>
</p>
<p>
  /db/i    ... implemented the lab exercise. This records your request and returns count of requests today. 
  /db      ... returns SELECT * FROM db;
</p>

<p><b>POST</b>
</html>
