<!DOCTYPE html>
<html lan="en">
  <head>
    <meta charset="utf-8" />
    <title>Pest Repost</title>
    <script>
      function submitMe() {
        document.getElementById("frm1").submit();
      }
    </script>
  </head>
  <body>
    <h3>snap.pest - Pest Report</h3>
    <p>Report of pest sightings over the period selected.</P>

    <p>Enter dates in the fields, then click "Submit" to submit the form:</p>

    <form id="frm1" action="report_builder">
      <table row=1><tr>
        <td>From date: </td><td><input type="text" name="from"></td>
        </tr><tr>
        <td>Last date: </td><td><input type="text" name="to"></td>
        </tr><tr>
        <td /><td><input type="button" onclick="submitMe()" value="Submit"></td>
      </table>
    </form>

  </body>
</html>

