<!DOCTYPE html>
<html lan="en">
  <head>
    <meta charset="utf-8" />
    <title>Pest Repost</title>
    <script>
      function submitMe() {
        document.forms[0].submit();
      }
      function checkSubmit(e){
        if(e && e.keyCode == 13 &&
            !document.getElementById("txt1") === "" &&
            !document.getElementById("txt2") === "") { document.forms[0].submit(); }
      }
    </script>
  </head>
  <body>
    <h3>snap.pest - Pest Report</h3>
    <p>Report of pest sightings over the period selected.</P>

    <p>Enter dates in the fields, then click "Submit" to submit the form:</p>

    <form id="frm1" action="report_builder" onKeyPress="return checkSubmit(event)">
      <table row=1><tr>
        <td>From date: </td><td><input id="txt1" type="text" name="from" value="1-5-2014" autofocus></td>
        </tr><tr>
        <td>Last date: </td><td><input id="txt2" type="text" name="to" value="30-6-2014"></td>
        </tr><tr>
        <td /><td><input type="button" onclick="submitMe()" value="Submit"></td>
      </table>
    </form>

  </body>
</html>

